<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" type="File" fileName="c:\0\logs\service1.log" />
      <target name="con" xsi:type="Console" />
      <target name="gmail" xsi:type="Mail"
            smtpServer="smtp.gmail.com"
            smtpPort="587"
            smtpAuthentication="Basic"
            smtpUserName="j.rezuke@gmail.com"
            smtpPassword="01Bigsky207934"
            enableSsl="true"
            from="study@halfpintstudy.org"
            to="j.rezuke@verizon.net"
    />
    </targets>
    <rules>
      <!--NLog supports the following log levels:
      Trace - very detailed logs, which may include high-volume information such as protocol payloads. This log level is typically only enabled during development
      Debug - debugging information, less detailed than trace, typically not enabled in production environment.
      Info - information messages, which are normally enabled in production environment
      Warn - warning messages, typically for non-critical issues, which can be recovered or which are temporary failures
      Error - error messages - most of the time these are Exceptions-->
      Fatal - very serious errors!
      <logger name="*" minlevel="Debug" writeTo="con,logfile" />
      <logger name="*" minlevel="warn"  writeTo="gmail" />
      <logger name="*" minlevel="info"  writeTo="logfile" />
    </rules>
  </nlog>
  <appSettings>
    <add key="DestinationBasePath" value="E:\Documents" />
    <add key="BaseFolder" value="Finance"/>
    <add key="SourceBasePath" value="C:\Users\jojo\Documents" />
  </appSettings>
</configuration>